.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
  z-index: 5;
  background: var(--white-primary);
}

.header.active {
  background: var(--black-primary);
  box-shadow: var(--boxShadow-secondary);
}

.header.active .nav .item.active .link {
  color: var(--white-primary);
  opacity: 1;
}

.header.active .nav .item .link {
  color: var(--white-primary);
  opacity: 0.75;
}

.header.active .nav .item.active .link::before {
  background: var(--white-primary);
}

.header.active .header_logo .title {
  color: var(--white-primary);
}

.header_logo .title {
  font-weight: 700;
  font-style: italic;
  color: var(--black-primary);
}

.header .nav {
  position: relative;
  display: flex;
  gap: 15px;
}

.header .nav .item {
  position: relative;
  list-style: none;
}

.header .nav .item.active .link {
  color: var(--black-primary);
}

.header .nav .item.active .link::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--black-primary);
  border-radius: 12px;
}

.header .nav .item .link {
  text-decoration: none;
  color: var(--black-secondary);
}

.header .action {
  list-style: none;
  position: relative;
  gap: 8px;
  display: flex;
}

.header.active .action svg {
  color: var(--white-primary);
  opacity: 0.75;
}

.header.active .action svg:hover {
  opacity: 1;
}

.text,
.heading {
  font-size: var(--font-reguler);
  font-weight: 500;
}

svg {
  width: 24px;
  height: 24px;
  color: var(--black-secondary);
}
