@import url("./font.css");
@import url("./theme.css");
@import url("./header.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

section {
    position: relative;
    width: 100%;
}

.text,
.heading {
    font-size: var(--font-reguler);
    font-weight: 500;
}

.title {
    font-size: var(--font-reguler);
}

svg {
    width: 24px;
    height: 24px;
    color: var(--black-secondary);
}

.homepage {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social_media {
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 0 40px;
    gap: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.3s;
}

.social_media .item:hover svg,
.contact_info .item:hover svg {
    color: var(--black-primary);
}

.center_content {
    position: relative;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.figure_caption .subtitle {
    position: relative;
    font-size: var(--font-small);
}

.figure_caption .heading {
    font-size: var(--font-large);
    margin: 5px 0 15px;
}

.figure_caption .price {
    font-size: var(--font-small);
    font-weight: 500;
    color: var(--secondary-color);
}

.figure_caption .price s {
    margin-right: 15px;
    color: var(--black-primary);
}

.figure_caption .action {
    position: relative;
    margin-top: 30px;
    display: flex;
    gap: 15px;
}

.figure_caption .btn:hover {
    background: var(--white-primary);
    color: var(--black-primary);
    border: 1px solid var(--black-primary);
}

.figure_caption .btn.outline:hover {
    background: var(--black-primary);
    color: var(--white-primary);
}

.figure_caption .btn {
    text-decoration: none;
    position: relative;
    width: 150px;
    height: 50px;
    background: var(--black-primary);
    color: var(--white-primary);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-small);
    font-weight: 500;
    transition: 0.3s;
}

.figure_caption .btn.outline {
    background: var(--white-primary);
    color: var(--black-primary);
    border: 1px solid var(--black-primary);
    gap: 8px;
}

.center_content .img {
    position: relative;
    display: block;
    max-width: 500px;
    height: 275px;
}

.center_content .img .photo {
    max-width: 100%;
    height: 100%;
}

.figure_caption .btn.outline .icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.figure {
    display: flex;
    align-items: center;
    gap: 15px;
}

.figure .line {
    display: block;
    width: 50px;
    height: 2px;
    background: #222;
}

.visi {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.visi .list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.about {
    position: relative;
    padding: 100px;
    background: var(--black-primary);
    color: var(--white-primary);
    gap: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about .content_one {
    width: 600px;
}

.about .content_two {
    width: 600px;
}

.about .content_one .figure .line {
    display: block;
    width: 25px;
    height: 2px;
    background: var(--white-primary);
}

.about .content_one .text {
    margin-top: 15px;
    font-size: var(--font-reguler);
    font-weight: 500;
}

.about .content_two .text {
    text-align: justify;
    color: var(--white-primary);
    opacity: 0.75;
}

.shop {
    position: relative;
    width: 100%;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop .content_one {
    position: relative;
    max-width: 1200px;
}

.shop .content_one .title {
    text-align: center;
}

.product {
    list-style: none;
    position: relative;
    width: 100%;
    margin-top: 25px;
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.product .item {
    width: 550px;
    height: 350px;
    overflow: hidden;
}

.product .item .link {
    text-decoration: none;
    position: relative;
    border-radius: 8px;
    box-shadow: var(--boxShadow-secondary);
    overflow: hidden;
}

.product .item .link .img {
    position: relative;
    max-width: 100%;
    height: 100%;
}

.product .item:hover .link .img::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background: linear-gradient(to top, rgba(34, 34, 34, 0.5), transparent);
    z-index: 1;
}

.product .item .link .img .photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 -120px;
}

.product .item .link .desc {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
    padding: 25px;
    transform: translateY(100%);
    z-index: 2;
}

.product .item:hover .link .desc {
    transform: translateY(0%);
}

.product .item .link .desc .title {
    color: var(--white-secondary);
    text-align: left;
}
.product .item .link .desc .heading.title {
    font-size: var(--font-medium);
    font-weight: 700;
}

.product .item .link .desc .price {
    font-size: var(--font-small);
    font-weight: 400;
    color: var(--white-primary);
}

.category {
    font-size: var(--font-small);
    font-weight: 300;
    text-transform: uppercase;
}

.testimonial {
    position: relative;
    width: 100%;
    padding: 100px;
}

.testimonial .content_one {
    position: relative;
    width: 1200px;
    margin-top: 50px;
}

.testimonial .content_one .card {
    list-style: none;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.testimonial .content_one .card .item:nth-child(1) {
    transform: translateX(500px);
}

.testimonial .content_one .card .item:nth-child(3) {
    transform: translateX(400px);
}

.testimonial .content_one .card .item {
    position: relative;
    padding: 60px;
    max-width: 700px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--white-primary);
    box-shadow: var(--boxShadow-primary);
}

.testimonial .content_one .card .item .text:nth-child(1) {
    color: var(--black-secondary);
    font-weight: 300;
    font-size: var(--font-reguler);
}

.testimonial .content_one .card .item .text:nth-child(2) {
    margin-top: 32px;
    text-align: end;
}

.testimonial .content_one .card .item .text b {
    font-weight: 500;
    color: var(--black-primary);
}

.footer {
    margin-top: 250px;
    position: relative;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--black-primary);
}

.footer .contact {
    position: relative;
    width: 1200px;
    padding: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--white-primary);
    box-shadow: var(--boxShadow-secondary);
    transform: translateY(-50%);
}

.contact_info .item {
    list-style: none;
    margin-top: 8px;
}

.contact_info .item .link {
    text-decoration: none;
    position: relative;
    gap: 15px;
    display: flex;
    align-items: center;
    color: var(--black-secondary);
    transition: 0.3s;
}

.contact_info .item:hover .link {
    color: var(--black-primary);
}

.contact_info .item .link .icon {
    display: flex;
    align-items: center;
}

.form {
    position: relative;
}

.form .field {
    position: relative;
    gap: 15px;
    width: 512px;
}

.form .field.two {
    display: flex;
}

.form .field.two input {
    padding: 8px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form .field.one textarea {
    margin-top: 15px;
    padding: 8px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form .btn {
    text-decoration: none;
    position: relative;
    width: 100px;
    height: 40px;
    background: var(--black-primary);
    color: var(--white-primary);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 300;
    transition: 0.3s;
}

.footer_text {
    position: absolute;
    bottom: 25px;
    color: var(--white-primary);
}

.footer_text .text {
    font-size: var(--font-small);
    font-weight: 300;
}

.greating {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 180px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 8px 45px rgba(34, 34, 34, 0.1);
}

.greating .message {
    color: #222;
    font-weight: 400;
}

/* table {
    border: 1px solid #222;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table tr {
    border: 1px solid #222;
    padding: 0.35em;
}

table th,
table td {
    padding: 0.625em;
    text-align: center;
}

table th {
    font-size: 0.85em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #222;
        display: block;
        margin-bottom: 0.625em;
    }

    table td {
        border-bottom: 1px solid #222;
        display: block;
        font-size: 0.8em;
        text-align: right;
    }

    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }
} */

.isAdmin {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 25px;
    z-index: 20;
}

.isAdmin button {
    border: none;
    outline: none;
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: var(--black-primary);
    box-shadow: var(--boxShadow-secondary);
    color: var(--white-primary);
    cursor: pointer;
}

.read,
.create {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    z-index: 20;
}

.create .validation {
    width: 100%;
}

.validation .form_two {
    position: relative;
    width: 100%;
    display: flex;
    gap: 8px;
    margin-bottom: 8px;
}

.validation .form_two input,
.validation .form_one textarea {
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    padding: 8px;
}

.validation .form_one {
    width: 100%;
}

.validation .form_one textarea {
    resize: none;
}

input[type="file"] {
    margin: 20px 0;
}

input[type="file"]::-webkit-file-upload-button {
    background: var(--black-primary);
    color: var(--white-primary);
    padding: 12px 24px;
    border-radius: 4px;
    font-family: "Poppins";
    border: none;
    cursor: pointer;
}

.header_read {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 25px;
}

.header_read::before {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 1px;
    border-radius: 8px;
    background: var(--black-primary);
}

.header_read .subtitle {
    font-weight: 400;
    color: var(--black-secondary);
}

.black {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(34, 34, 34, 0.25);
    z-index: -1;
}

.read.active,
.create.active {
    visibility: visible;
    opacity: 1;
}

.read .form,
.create .form {
    position: fixed;
    top: 25px;
    left: calc(800px / 50%);
    width: 800px;
    height: 400px;
    padding: 25px;
    background: #fff;
    border-radius: 8px;
    z-index: 1;
}

.read .table {
    border-collapse: collapse;
}

.read .table tr:nth-child(even) {
    background: var(--white-secondary);
}

.read .table tr td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.form .action {
    position: absolute;
    display: flex;
    gap: 8px;
    bottom: 25px;
    right: 25px;
}

.form .action div.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    background: transparent;
    color: var(--black-primary);
    border: 1px solid var(--black-primary);
}

.btn {
    border: none;
    outline: none;
    width: 100px;
    height: 40px;
    border-radius: 4px;
    background: var(--black-primary);
    color: var(--white-primary);
    cursor: pointer;
}
