@font-face {
  font-family: Poppins;
  src: url("../fonts/poppins/Poppins-Medium.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Poppins;
  src: url("../fonts/poppins/Poppins-SemiBold.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Poppins;
  src: url("../fonts/poppins/Poppins-Bold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: Poppins;
  src: url("../fonts/poppins/Poppins-ExtraBold.ttf");
  font-weight: 700;
}
