.footer {
  margin-top: 250px;
  position: relative;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--black-primary);
}
